.workshopregistration-title {
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 80px;
  height: 200px;
  background: black;
  text-align: center;
  padding: 28px 0px;
}

.workshopregistration-container {
  margin-top: 50px;
  margin-bottom: 100px;
}

.workshopregistration-form-group {
  margin-top: 30px;
  font-weight: 600;
}

.workshopregistration-form-input {
  border-width: 2px !important;
  color: black !important;
  font-weight: 480 !important;
  width: 800px !important;
}

.workshop1-button {
  font-weight: 600;
  background-color: black !important;
  margin-top: 20px;
  margin-left: 6px;
}

.workshopregistrationupload-button {
  font-weight: 600;
  background-color: rgb(175, 60, 60) !important;
  margin-top: 20px;
}

.workshopregistration-error {
  color: red;
  font-weight: 600;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.workshopregistration-Alert {
  font-size: 5px;
}

.workshopregistration-head {
  margin-left: 400px;
  margin-bottom: 30px;
}

.workshopregistration-head-font {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
