.report {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
}

.report:hover {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-weight: 500;
    background-color: whitesmoke;
    border-radius: 5px;
}